* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #74ebd5;
  background: linear-gradient(60deg, #acb6e5 50%, #74ebd5 50%);
}
